/* Write your CSS here */
/* Write your CSS here */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cbd5e1;
  height: 20vh;
  margin-top: 10px;
}
.footer {
  color: #475569;
  font-size: 40px;
  font-family: Roboto;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .footer-container {
    height: 10vh;
  }
  .footer {
    font-size: 24px;
  }
}
