/* Write your CSS here */

.layout-continer {
  display: flex;
  flex-direction: column;
  background-color: #475569;
  padding: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.layout-heading {
  color: #f1f5f9;
  font-size: 54px;
  font-weight: 600;
  font-family: Roboto;
}
.label-container {
  margin-bottom: 20px;
}
.label {
  color: #f1f5f9;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto;
  margin-left: 15px;
}
@media screen and (max-width: 767px) {
  .layout-continer {
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .layout-heading {
    margin-top: 0px;
  }
}
